@import url('https://fonts.googleapis.com/css2?family=Shizuru&display=swap');
body{
    margin: 20px 5px;
    background-color: cornflowerblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#hon{
    color: rgb(126, 96, 0);
    background: rgb(255, 255, 145);
    border: 0.2em solid black;
    text-align: center;
    width: 80%;
    margin-left: 8.5vw;
    margin-right: 9vw;
}
.red{color: red;
    border: 3px solid  black;
    font-size: 17px;
}
span{
    text-transform: uppercase;   
}
#hon:hover{
    color: #ff0000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight:bolder;
    background-color: rgb(153, 0, 255);
    text-align: center;
    cursor:help;

}
#arja3{
    font-size: 3em;
    color: blueviolet;
    background-color: chartreuse;
    border: 5px solid;
    border-color: black;
    border-radius: 5px 5px ;
    margin-left: 85vw;
}

#arja3:hover{
    background-color: purple;
    color: rgb(0, 0, 0);
}
h2{
    color:yellow;
}
